.bod {
    background-color: #ffffff;
}

#header {
    overflow: hidden;
    margin: 0 auto;
}

.header {
    width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
    overflow: hidden;

}

.headfr {
    float: left;
}

.headfr img {
    vertical-align: middle;

}

.headfl {
    border: 2px solid #459d36;
    width: 325px;
    height: 28px;
    line-height: 28px;
}

.login {
    color: #427fd2;
}

.cart-text {
    line-height: 60px;
    display: block;
    height: 100%;
}

.sear-text {
    width: 260px;
    border: none;
    outline: none;
    padding: 0 5px;
    height: 28px;
    float: left;
}

.headfl a {
    background: #459d36;
    display: block;
    width: 50px;
}

#cart-menu {
    position: relative;
    border-bottom: 2px #ddd solid;
}

.cart-menu {
    padding-bottom: 10px;
}

#cart-menu .nav-currentt {
    position: absolute;
    bottom: -2px;
    height: 6px;
    border-bottom: 2px solid #ff6000;
}

.cart-menu li {
    float: left;
    font-size: 16px;
    border-right: 1px solid #e8e8e8;
    padding: 0 30px;
    color: #3c3c3c;
    position: relative;
    cursor: pointer;
}

.cart-menu li:hover, .cart-menu li.current {
    color: #ff6600;
}

.fcolor {
    color: #ff6000;
}

#cart-menu .nav-currentt .arrow {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
}

#cart-menu .nav-currentt i {
    border-style: dotted solid solid solid;
    border-color: transparent transparent #ff6000 transparent;
    border-width: 5px;
    font-size: 0;
    line-height: 0;
}

.tabF {
    padding: 30px 0 10px 10px;
}

.cart-table span {
    border-radius: 3px;
    padding: 3px 6px 3px 23px;
}

.epetfh {
    background: url("../images/cart/fh-ico.png") no-repeat 0 -55px #6acd34;
}

.cart-tc {
    position: absolute;
    left: -75px;
    top: 24px;
    width: 253px;
    border: 1px solid #e5e2e8;
    box-shadow: 0 1px 8px #e6e6e6;
    padding: 15px 10px;
    display: none;
    z-index: 2;
}

.cart-tc em {
    top: -16px;
    left: 73px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #ccc transparent;
}

.cart-tc em, .cart-tc i {
    position: absolute;
    border-width: 8px;
    font-size: 0;
    line-height: 0;
}

.cart-tc i {
    top: -15px;
    left: 73px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #fff transparent;
}

.cart-table .baoyou-tip span {
    padding: 3px 8px;
    color: #ff6000;
    border: 1px dotted #ff6000;
    margin-right: 3px;
}

.cart-table .ymbaoyou-tip span {
    background: #ff6000;
    color: #fff;
}

.cart-order {
    border: 1px solid #ccc;
}

.cart-order td {
    padding: 10px;
    background: #fcfcfc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cart-order .por-img {
    width: 87px;
    height: 87px;
    border: 1px solid #e8e8e8;
}

.cart-order .por-img a {
    display: table-cell;
    vertical-align: middle;
    width: 87px;
    height: 87px;
}

.buynum-wrap {
    background: #fff;
    border: 1px solid #cacbcb;
    display: inline-block;
}

.buynum-wrap span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    cursor: pointer;
    outline: none;
}

.text {
    line-height: 22px;
    height: 22px;
    padding: 0 0 0 2px;
}

.buynum-wrap .text {
    padding: 0;
    margin: 0 2px;
    border: 0;
    border-right: 1px solid #cacbcb;
    border-left: 1px solid #cacbcb;
    width: 43px;
}

.mtneg10 {
    margin-top: -10px;
}

.balance {
    height: 62px;
    line-height: 62px;
    background: #f5f5f5;
}

.all-checkbox {
    float: left;
    margin-top: 25px;
    margin-right: 5px;
}

.cart-price strong {
    color: #e61212;
}

.pt30 {
    padding-top: 30px;
}

.go-balance {
    width: 213px;
    display: inline-block;
    background: #459d36;
    border-radius: 5px;
}

.go-balance:hover {
    background: #48b336;
    color: #fff;
}

.detail {
    width: 70px;
    height: 25px;
    padding: 3px 10px;
    border-radius: 3px;
    background: #F5F5F5;
    border: 1px solid #b1b1b1;
    display: block;
    text-align: center;
    line-height: 25px;
}

.null {
    margin: 100px 0;
    background: url("../images/cart/null-cart.png") no-repeat left top;
    padding-left: 155px;
    padding-top: 30px;
    display: inline-block;
}

.goBtn {
    overflow: hidden;
}

.goBtn a {
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    margin-top: 13px;
    margin-right: 20px;
    background: #459d36;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
}

.goBtn a:hover {
    color: white;
}

.por-intro a {
    display: block;
    width: 380px;
}

.cart-table .fixbox {
    position: fixed;
    left: 1px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px -1px 8px #e6e6e6;
    background: #fff;
}