
.fkleft {
    height: 30px;
    width: 80px;
    float: left;
    padding-top: 10px;
}

.fkmiddle {
    height: 30px;
    width: 1070px;
    float: left;
    overflow: hidden;
    padding-top: 10px;
}

.fkright {
    height: 30px;
    width: 50px;
    float: left;
    padding-top: 10px;
}

.fkmiddle a {
    margin: 0px 10px;
    color: #666;
    display: inline-block;
    height: 30px;
}

.link {
    padding: 15px;
}

.link a {
    margin: 10px 20px 0 0;
    color: #666;
    display: inline-block;
}

.footer-content {
    background: #F5F5F5;
}

.footer-top {
    width: 100%;
    background: #ac92ec;
    padding: 40px 0 20px;
}

.footer-content .imgs ul {
    border-bottom: 1px dotted #c1aef1;
    padding: 0 0 30px 65px;
}

.footer-content .imgs ul li {
    width: 120px;
    margin-right: 69px;
    float: left;
    display: inline;
}

.footer-content .imgs ul li a {
    display: block;
    width: 120px;
    text-align: center;
    line-height: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ebe3ff;
}

.zp, .tth, .cc, .wl, .fw {
    background: url('../images/q-ico.png') no-repeat;
    width: 68px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.imgs ul li p {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.tth {
    background-position: 0 -69px;
}

.cc {
    background-position: 0 -136px;
}

.wl {
    background-position: 0 -203px;
    height: 66px;
    width: 52px;
}

.fw {
    background-position: 0 -269px;
    width: 61px;
}

.chegji {
    background-position: 0 -348px;
    height: 66px;
    width: 68px;
}

.catphone {
    margin: 30px 60px 0 0;
}

.footer-top dl {
    float: right;
    display: inline;
    padding: 0 60px;
    border-left: 1px dotted #c1aef1;
    margin-top: 25px;
}

.pailie .catphone {
    float: left;
}

.footer-top dt {
    line-height: 35px;
    font-size: 18px;
    width: 72px;
    color: #fff;
}

.footer-content dd {
    line-height: 22px;
    text-align: center;
}

.footer-top dd a {
     line-height: 22px;
     color: #fff;
 }
.padbot {
    width: 418px;
    display: inline;
    padding: 20px 0;
}

.footer-tit b {
    position: relative;
    top: -7px;
    display: inline-block;
    padding: 0 10px;
    background: #f8f8f8;
    color: #333;
}

.footer-pd {
    padding: 10px 0 0 0;
}


.padbot a {
    display: inline-block;
    margin: 5px 10px;
}
.footer-tit {
    border-bottom: 1px solid #eee;
    height: 0;
    position: relative;
    margin-top: 7px;
}
.footer-code-img {
    width: 128px;
    float: left;
    display: inline;
    margin: 0 0 0 38px;
}
.footer-code-img b {
    display: block;
    padding-bottom: 10px;
}

.footer-code-img img {
    display: block;
    margin: auto;
    border: 8px solid #fff;
}

/*右侧导航栏*/
#rtbar {
    z-index: 2222;
    position: fixed;
    top: 30px;
    right: 0;
    width: 35px;
}

.rtico, .newdota, .menus li.dropmn a.msn, .rttop, .rtbot {
    background-image: url('../images/catbar.png');
    background-repeat: no-repeat;
}

.rttop {
    height: 17px;
    background-position: 0 -174px;
}

.rtbot {
    height: 17px;
    background-position: 0 -191px;
}

.rtcont {
    background: #6a4385;
}

.rtcont-up {
    padding-top: 10px;
}

.rtcont li.rtl {
    position: relative;
}

.bagBox {
    background: #2b251d;
    width: 292px;
    position: absolute;
    right: 35px;
    top: 0;
    padding-bottom: 6px;
}

.rtcont a.rt-my {
    background-position: 0 -235px;
    margin-bottom: 40px;
}

.newdot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-position: -6px -600px;
    top: -3px;
    right: 2px;
}

.rtcont li.rtl label {
    display: none;
    right: 53px;
    opacity: 0;
}

.rtcont a.rt-cart {
    background-position: 0 -270px;
}

.rtcont a.rt-order {
    background-position: 0 -305px;
}

.rtcont a.rt-ask {
    background-position: 0 -340px;
}

.rtcont a.rt-view {
    background-position: 0 -375px;
}

.rtcont a.rt-consulted {
    background-position: 4px -617px;
}

.rtcont-dn {
    padding-bottom: 10px;
}

.rtcont a.rt-app {
    background-position: 0 -410px;
}

.rtcont a.rt-weibo {
    background-position: 0 -480px;
}

.rtcont a.rt-weixin {
    background-position: 0 -445px;
    cursor: pointer;
}

.rtcont a.rt-top {
    background-position: 0 -515px;
    margin-bottom: 0;
    visibility: visible;
}

.rtico {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 0 15px 0;
}

li.hov label em, .bagBox em {
    display: block;
    right: -8px;
    top: 10px;
    color: #FFA200;
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    position: absolute;
    font-family: "瀹嬩綋";
}

li.hov label {
    height: 35px;
    width: 90px;
    line-height: 35px;
    background-color: #FFA200;
    position: absolute;
    top: 0;
    text-align: center;
    color: #FFF;
    padding-right: 10px;
    display: block;
}