

/*happyshopping*/
#happyShopping {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 55px;
    position: relative;
}

#aminz {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.sur-titimg {
    width: 120px;
    height: 34px;
    margin-top: 30px;
}

.timemove {
    /*c999 rela pointer ftc ft14*/
    color: #999;
    position: relative;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.time-px p {
    width: 140px;
    float: left;
}

.time-px .current span {
    color: #fff;
    font-weight: bold;
    background: #fe5400;
    border-radius: 5px;
    padding: 3px 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    line-height: 22px;
}

.time-px .current i {
    bottom: -12px;
    left: 65px;
    border-style: solid solid dotted solid;
    border-color: #fe5400 transparent transparent transparent;
    position: absolute;
    border-width: 7px;
    font-size: 0;
    line-height: 0;
    z-index: 1;
}

.time-px em {
    display: block;
    position: absolute;
    bottom: -42px;
    left: 0;
    width: 100%;
    background: url('../images/daysur_ico.png') no-repeat 42px -227px;
    height: 24px;
    text-align: center;
}

.time-px .time-out {
    background: url('../images/daysur_ico.png') no-repeat 42px -200px;
}

.time-px .current em {
    background: url("../images/daysur_ico.png") no-repeat 37px -263px;
    bottom: -52px;
    height: 62px;
}

.time-px {
    border-bottom: 1px solid #e1e0e0;
    padding-bottom: 21px;
    padding-left: 50px;
    width: 1022px;
}

.surprise-t {
    height: 75px;
}

.surprise-c {
    margin-bottom: 20px;
    border: 1px solid #eee;
    background: #fff;
    margin-top: 10px;

}

.day-surimg {
    height: 380px;
    width: 222px;
    overflow: hidden;
    position: relative;
}

.day-surimg .d1 {
    width: 100%;
    height: 380px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.day-surimg img {
    width: 222px;
    height: 380px;
    text-align: center;
}

.day-surimg .d2 {
    width: 100%;
    height: 20px;
    clear: both;
    position: absolute;
    z-index: 100;
    left: 0px;
    bottom: 10px;
    text-align: center;
}

.day-surimg .d2 ul {
    margin: 0px auto;
    display: inline-block;
}

.day-surimg .d2 li {
    width: 10px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    opacity: 0.6;
    float: left;
    margin: 0 5px;
    display: inline;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}

.day-surimg .d2 li.act {
    opacity: 1;
}

.surprise-list {
    width: 972px;
    height: 380px;
}

.surprise-list li {
    border-right: 1px solid #eee;
    float: left;
    width: 242px;
    height: 375px;
    padding-top: 5px;
}

.surprise-list li .imgBox {
    width: 193px;
    height: 193px;
    overflow: hidden;
    display: block;
    font-size: 0px;
}

img.zom {
    -webkit-transition: All 0.6s ease-in-out;
    -moz-transition: All 0.6s ease-in-out;
    -o-transition: All 0.6s ease-in-out;
    transition: All 0.6s ease-in-out;
}

img.zom:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.surprise-list li h1 {
    height: 36px;
    line-height: 18px;
    margin-top: 10px;
}

.sur-hear {
    padding: 25px;
}

.sur-price {
    margin-top: 5px;
    margin-left: 25px;
}

.sur-numbox {
    width: 115px;
}

.sur-num {
    color: #ff4400;
    font-size: 22px;
}

.atonce-buy {
    width: 73px;
    padding-left: 20px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    -webkit-transition: width .8s;
    -moz-transition: width .8s;
    -ms-transition: width .8s;
    -o-transition: width .8s;
    transition: width .8s;
    background: url("../images/daysur_ico.png") no-repeat -4px -8px;
    display: block;
}

.atonce-buy:hover {
    width: 77px;
    color: #FFFFFF;

}

/*recommend*/
#recommend {
    width: 1200px;
    margin: 0 auto 30px;
}

#recommend h2 {
    line-height: 36px;
    padding-bottom: 8px;
    font-size: 16px;
}

#recommend ul {
    width: 1220px;
}

#recommend li {
    border: 1px solid #eee;
    margin: 0 18px 20px 0;
    background: #fff;
    width: 530px;
    padding: 30px;
    overflow: hidden;
    float: left;
}

.tj-left {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.tj-right {
    width: 300px;
    padding-left: 30px;
}

.tj-left img {
    width: 200px;
    height: 200px;
}

.tj-right h3 {
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 1px solid #dad8d8;
}

.tj-price {
    padding: 3px 0 3px 56px;
    position: relative;
    line-height: 22px;
    margin-top: 20px;
}

.tj-price b {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 50px;
    background-position: 0 -210px;
}

.ibg {
    background: url('../images/indexico.png') no-repeat;
    display: inline-block;
}

.tj-des {
    padding-top: 18px;
    text-indent: 2em;
    height: 100px;
    text-align: justify;
}

.pet-pro {
    border: 1px solid #eeeeee;
}

.mb30 {
    margin-bottom: 30px;
}

.pet-pro h2 {
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.pet-proimg {
    vertical-align: middle;
    margin-top: 13px;
    float: left;
}

.pro-tt {
    color: #6d32a9;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    float: left;
}

.pet-column {
    height: 26px;
    margin-top: 22px;
    line-height: 26px;
    display: block;
}

.pet-column a {
    display: inline-block;
    vertical-align: top;
    padding: 0 18px;
    line-height: 26px;
    border-right: 1px dashed #eee;
}

.pet-column img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 5px;
}

.petpro-l {
    width: 250px;
    height: 480px;
}

.petpro-r ul {
    padding-left: 3px;
}

.petpro-r li {
    width: 200px;
    float: left;
    margin: 16px 18px 0;
}

.petpro-r li .imgBox {
    width: 200px;
    height: 150px;
    text-align: center;
    margin-bottom: 6px;

}

.petpro-r li img {
    max-height: 150px;
    max-width: 200px;
}

.petpro-r > ul {
    width: 947px;
}

.petpro-r li h3 {
    line-height: 18px;
    height: 36px;
    color: #666;
    overflow: hidden;
    margin-bottom: 6px;
    text-align: center;
}

.imgBox {
    overflow: hidden;
    display: block;
    font-size: 0px;
}

.border-eee {
    border: 1px solid #eee;
}

.popular-cent h2 {
    height: 57px;
    line-height: 57px;
    border-bottom: 1px solid #e6e6e6;
}

.popular-cent .more {
    display: block;
}

.popular-cent {
    width: 690px;
    padding: 0 15px;
}

.popular-cent li {
    padding: 30px 0;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.popular-l {
    width: 110px;
    height: 142px;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px dashed #e6e6e6;
}

.popular-l img {
    width: 110px;
    height: 110px;
}

.popular-r {
    width: 546px;
    overflow: hidden;
}

.popular-rtop {
    line-height: 30px;
}

.popular-rtop .petview {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.popular-rtop .petview img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.user-star i {
    display: inline-block;
    vertical-align: top;
    height: 16px;
    background: url('../images/star.png');
}

.user-star {
    width: 100px;
    height: 16px;
    background: url('../images/star.png') 0 -18px;
    margin: -2px 25px 0;
}

.dvm {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

.popular-rbot {
    height: 90px;
    padding-right: 10px;
    overflow-y: scroll;
    margin-top: 10px;
    line-height: 18px;
}

.speak-cent {
    width: 430px;
    padding-top: 98px;
    padding-left: 10px;
    background: url('../images/endorsement1.jpg') no-repeat 0 30px;
}

.dy-btn {
    position: absolute;
    top: 30px;
    right: 23px;
}

.dy-btn .i-daiy {
    display: block;
    width: 90px;
    height: 22px;
    background: url('../images/dy_btn1.jpg') no-repeat;
    color: transparent;
}

.speak-top ul {
    width: 470px;
}

.speak-top li {
    width: 180px;
    float: left;
    margin-bottom: 34px;
    margin-right: 48px;
}

.rela {
    position: relative;
}

.speak-bot {
    padding-top: 10px;
}

.speak-bot h2 {
    height: 37px;
    line-height: 36px;
    margin-right: 22px;
}

.multi-menu {
    background: url('../images/ln.gif') bottom repeat-x;
    padding: 0 10px;
}

.speak-bot .multi-menu a.hov {
    border: 1px solid #d4d4d4;
    border-bottom: 1px solid #fff;
}

.speak-bot h2 a {
    display: inline-block;
    padding: 0 20px;
}

.speak-bot .multi-menu a {
    border: none;
    background: none;
}

.multi-menu a {
    display: inline-block;
    background-color: #F7FBEC;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border: 1px #ddd solid;
    cursor: pointer;
}

.speak-bot ul {
    padding-top: 30px;
    width: 440px;
}

.speak-bot li {
    width: 57px;
    float: left;
    margin-right: 31px;
}

.speak-bot li .imgBox {
    width: 57px;
    height: 57px;
    border-radius: 5px;
}

.speak-bot img {
    width: 57px;
    height: 57px;
}

.speak-bot h3 {
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    color: #666;
}

.speak-bot .ibg {
    background-position: 0 -261px;
    width: 11px;
    height: 11px;
    margin-right: 3px;
}

.ibg {
    background: url('../images/indexico.png') no-repeat;
    display: inline-block;
}
