@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, i, b {
    margin: 0;
    padding: 0;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
}

body {
    background-color: #F5F5F5;
    min-width: 1200px;
    margin: 0 auto;
}

input{
    outline: medium none;
}
* {
    word-wrap: break-word;
}

em {
    font-style: normal;
}

ul, ol, li, dl, dt, dd {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    text-decoration: none;
    color: #248DCC;
}

a:link, a:visited {
    outline: none;
}

img, a img {
    border: none;
}

table {
    border-collapse: collapse;
    empty-cells: show
}

.overflow {
    overflow: hidden;
    _zoom: 1;
}

.ftnum {
    font-family: Arial;
}

.ft12 {
    font-size: 12px;
}

.ft13 {
    font-size: 13px;
}

.ft14 {
    font-size: 14px;
}

.ft15 {
    font-size: 15px;
}

.ft16 {
    font-size: 16px;
}

.ft18 {
    font-size: 18px;
}

.ft20 {
    font-size: 20px;
}

.ft24 {
    font-size: 24px;
}

.ft26 {
    font-size: 26px;
}

.ft30 {
    font-size: 30px;
}

.zcolor {
    color: #459d36;
}

.c444 {
    color: #444;
}

.cfff {
    color: #fff;
}

.c333 {
    color: #333;
}

.c999 {
    color: #999;
}

.c666 {
    color: #666;
}

.cf60 {
    color: #FF6600;
}

.c000 {
    color: #000;
}

.c89 {
    color: #898989;
}

.cred {
    color: #FF0000;
}

.cylow {
    color: #FF3300;
}

.cblue {
    color: blue;
}

.cgold {
    color: #FF6600;
}


.cgreen {
    color: #0b9619;
}

.ti1 {
    text-indent: 1em;
}

.ti2 {
    text-indent: 2em;
}

.bold {
    font-weight: bold;
}

.nobold {
    font-weight: normal;
}

.hide {
    display: none;
}

.ftc {
    text-align: center;
}
.cf40 {
    color: #f40;
}
.textR {
    text-align: right;
}

.ftleft {
    text-align: left;
}

.w-max {
    width: 1200px;
}

.w-min {
    width: 200px;
}

.w-mid {
    width: 980px;
}

.w1000 {
    width: 1000px;
}

.w100 {
    width: 100%;
}

.ct {
    margin: 0 auto;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.ml {
    margin-left: 10px;
}

.mr {
    margin-right: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pr15 {
    padding-right: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad30 {
    padding: 30px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.lh1 {
    line-height: 1;
}

.lh12 {
    line-height: 12px;
}

.lh14 {
    line-height: 14px;
}

.lh16 {
    line-height: 16px;
}

.lh18 {
    line-height: 18px;
}

.lh20 {
    line-height: 20px;
}

.lh22 {
    line-height: 22px;
}

.lh24 {
    line-height: 24px;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fixd {
    position: fixed;
}

.ovh {
    overflow: hidden;
}

.ovs {
    overflow: scroll;
}

.ova {
    overflow: auto;
}

.db {
    display: block;
}

.di {
    display: inline;
}

.dtable {
    display: table;
}

.dtcell {
    display: table-cell;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.bgwh {
    background: #fff;
}

.zbg {
    background: #459d36;
}

.bgf5 {
    background: #f5f5f5;
}

.bgtm {
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.nowrap {
    white-space: nowrap;
}

.rowhidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bord7 {
    border: 1px solid #d7d7d7;
}

.bord7t {
    border-top: 1px solid #d7d7d7;
}

.bord7b {
    border-bottom: 1px solid #d7d7d7;
}

.bord7l {
    border-left: 1px solid #d7d7d7;
}

.bord7r {
    border-right: 1px solid #d7d7d7;
}

.bround50 {
    border-radius: 50%;
}

.vertical {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

.fontline {
    text-decoration: underline;
}
